<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Lets Meet">
  <ion-content class="padding">
    <p>{{chat.event}}</p>
    <img ng-src="{{chat.icon}}" style="width: 64px; height: 64px">
    <p>{{chat.location}}</p>
    <p>{{chat.date}}</p>
    <p>{{chat.time}}</p>
  </ion-content>
</ion-view>
