
<ion-view view-title="Lets Meet">
  <ion-content class="padding">
  <form name="addEventForm" >
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Event</span> <i>{{newEventName}}</i>
      <input type="text" placeholder="Enter event name here" ng-model="formData.newEventName" required>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Location</span> <i>{{newEventLocation}}</i>
      <input type="text" placeholder="Enter event locaiton here" ng-model="formData.newEventLocation" required>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Date</span> <i>{{newEventDate}}</i>
      <input type="date" ng-model="formData.newEventDate" required>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Time</span><i>{{newEventTime}}</i>
      <input type="time" ng-model="formData.newEventTime" required>
    </label> 
    <label class="item item-input item-stacked-label">
      <span class="input-label">Invite Friends</span>
      <button class="button icon-center ion-ios-personadd"></button>
    </label>   
  </div>
  <div class="button-bar">
    <a class="button icon-center ion-ios-paperplane" ng-click="addEventFunc()"></a>
    <a class="button icon-center ion-ios-undo"></a>
  </div>
  </form>
  </ion-content>
</ion-view

